body{
    color:black;
    background:beige;
    margin: 20px;
    font-family: "Alfa Slab One", sans-serif;
    margin-bottom: 100px;
}
header{
    border-bottom:solid 2px  black;
    padding: 20px;
    font-size:32 px;
    color:rgba(0, 0, 0, 0.64);
} 

.chamada {
    background: white;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1 {
    font-size: 40px;
}
p{
    font-size: 20x;
}



.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

 .categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.categorias-videos img{
    opacity: 0,5;
    height: 200px;
}

.cateroria-videos img:hover{
    opacity: 1.0;
    border: 1px solid red;
}

.categoria h2{
    color: rgba(0, 0, 0, 0.64);
    
}